body {
  overflow-y: scroll;
  padding-top: 55px;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
}

.navbar .navbar-nav .nav-link {
  font-size: 16px;
  color: white;
}

.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5);
}

h1 {
  font-size: 2.0rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.1;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.1;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.1;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.1;
}

table {
  counter-reset: serial-number;
}

table tr td:first-child:before {
  counter-increment: serial-number;
  content: counter(serial-number);
}

a.page-anchor{
    display: block;
    padding-top: 70px;
    margin-top: -70px;
}

#footer {
}

#page-top{
  width: 90px;
  height: 90px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #20639b;
  opacity: 0.5;
  border-radius: 50%;
}

#page-top a{
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}

#page-top a::before{
  font-family: FontAwesome;
  font-weight: 900;
  content: '\f0aa';
  font-size: 25px;
  color: #FFFFFF;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

#page-top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #FFFFFF;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.list-group#toc2c {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
}
.list-group#toc3c {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
}

.list-group#toc4c{
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0;
}

.list-group-item {
  background: #F7F7F7;
  text-align: center;
  font-weight: bold;
}